*,
*::after,
*::before{
    box-sizing: border-box;
    margin-left: 0;
}

.menu {
    padding-left: 0;
    margin-left: 0;
    text-align: center;
}
.menu li{
    display: inline-block;
}

.menu a{
    color: #f00;
    text-decoration: none;
    padding: 0 20px;
    text-transform: uppercase;
    font-family: montserrat, sans-serif;

}
.image {
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    display: block;
    width: 100vw;
    height: 900px;
}

.page-title{
    text-transform: uppercase;
    text-align: center;
}

.text-first{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
}
.text-sequent{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
}
.button-started{
    display: block;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    width: 200px;
    height: 60px;
    background-color: #f00;
    color: #fff;
    border: #ff0000;
}
.wrapper{
    display: block;
    text-align: right;
    margin-top: 50px;
    padding-right: 105px;
}